@mixin on-desktop {
  @media (min-width:1260px) {
    @content;
  }
}

@mixin on-tablet {
  @media(min-width:744px) {
    @content;
  }
}

@mixin off-tablet {
  @media (max-width: 1259px) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;
  --paddline: 20px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: var(--paddline);

  @include on-tablet {
    --columns: 6;
    --paddline: 40px;
  }

  @include on-desktop {
    --columns: 12;
    --paddline: 120px;
  }
}

@mixin margin-negative {
  margin-inline: -20px;

  @include on-tablet {
    margin-inline: -40px;
  }

  @include on-desktop {
    margin-inline: -120px;
  }
}

// stilos

@mixin button {
  height: 56px;
  text-align: center;
  border-radius: 8px;
  border: none;
  @include button-style;
}

@mixin button-style {
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}



@mixin input-style {
  font-family: 'Space mono';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  &::placeholder {
    color: #7E7E83;

  }
}

// footer title
@mixin normaltext-style {
  font-family: 'space mono';
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #191919;
}

// footer link
@mixin grotesk-400gray {
  font-family: 'space grotesk';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #9393A3;
}

@mixin h1style {
  @include grotesk;
  font-size: 36px;

  @include on-tablet {
    font-size: 48px;
  }
  @include on-desktop{
    font-size: 56px;
  }
}

@mixin h2style {
  @include grotesk;
  font-size: 32px;
  @include on-tablet{
    font-size: 40px;
  }
  @include on-desktop{
    font-size: 48px;
  }
}

@mixin menustyle {
  @include grotesk;
  font-size: 22px;
  letter-spacing: 2px;
}

@mixin submenu-style {
  @include grotesk;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@mixin h3style {
  @include grotesk;
  line-height: 140%;
  font-size: 18px;
}

@mixin number-style {
  @include grotesk;
  font-size: 16px;
  line-height: 140%;
}

@mixin grotesk {
  font-family: 'Space Grotesk';
  font-weight: 700;
  line-height: 100%;
  color: #292929;
}