.footer {
  @include page-grid;
  padding-block: 48px 64px;
  gap: 24px;

  &-contact {
    grid-column: 1/-1;

    &-title {
      @include grotesk-400gray;
      padding-bottom: 8px;
    }

    &-link {
      @include mono-400b;
    }
  }
}

